<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      {{title}}
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">{{translate('dashboard')}}</a>
        <li class="breadcrumb-item"><a routerLink="/admin-area/dashboard">{{translate('admin area')}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/admin-area/usergroups">{{translate('roles')}}</a></li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="!isEditMode">{{translate('create user group')}}</li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="isEditMode">{{translate('edit user group')}}</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" *ngIf="isEditMode"> {{translate('Edit User Group')}}</h4>
          <h4 class="card-title" *ngIf="!isEditMode">{{translate('create User Group')}}</h4>
          <p class="card-description text-danger" *ngFor="let error of validationErrors">{{ error}}</p>
          <form class="forms-sample" role="form" [formGroup]="userGroupFormGroup" novalidate (submit)="submit()">
            <fieldset>
              <div class="form-group" *ngFor="let control of userGroupFormGroup.formControls" [ngClass]="{'has-danger': (isSubmitting || control.dirty) && control.invalid}">
                <label for="{{control.modelProperty}}">{{ translate(control.label)}}</label>
                <input type="{{control.type}}" [ngClass]="{'form-control-danger': (isSubmitting || control.dirty) && control.invalid}" class="form-control" placeholder="{{ translate(control.label)}}" formControlName="{{control.modelProperty}}" [(ngModel)]="model[control.modelProperty]">
                <ul *ngIf="(isSubmitting || control.dirty) && control.invalid">
                  <li class="error mt-2 text-danger" *ngFor="let error of control.getValidationMessages()">{{error}}</li>
                </ul>
              </div>
              <button type="submit" class="btn btn-primary btn-sm mr-2">{{ translate('Submit')}}</button>
              <a class="btn btn-light btn-sm" routerLink="/admin-area/usergroups">{{ translate('Cancel')}}</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
