<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      {{translate(title)}}
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">{{translate('dashboard')}}</a>
        <li class="breadcrumb-item"><a routerLink="/module/cms">{{translate('content management')}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{translate('widget instances')}}</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{translate(title)}}</h4>
          <div class="card-actions">
            <a routerLink="/widgets" class="btn btn-outline-primary btn-rounded text-right"><i class="fa fa-plus mr-2"></i>{{translate('Create Widget')}}</a>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>{{ translate('Name')}}</th>
                  <th>{{ translate('Type')}}</th>
                  <th>{{ translate('Zone')}}</th>
                  <th>{{ translate('Created')}}</th>
                  <th>{{ translate('In Preview')}}</th>
                  <th>{{ translate('Publish Start')}}</th>
                  <th>{{ translate('Publish End')}}</th>
                  <th>{{ translate('Display Order')}}</th>
                  <th>{{translate('Action')}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="instances.length < 1"><td colspan="6">{{ translate('Nothing to display')}}</td></tr>
                <tr *ngFor="let instance of instances">
                  <td>
                    {{instance.name}}
                    <div class="table-links">
                      <a [routerLink]="[instance.editUrl, instance.id]">{{translate('Edit')}}</a>
                      <div class="bullet"></div>
                      <a href="javascript:void(0);" (click)="deleteInstance(instance.id)" class="text-danger">{{translate('trash')}}</a>
                    </div>
                  </td>
                  <td>{{instance.widgetType}}</td>
                  <td>{{instance.widgetZone}}</td>
                  <td>{{instance.dateCreated | date: mediumDate}}</td>
                  <td>
                    <div class="form-check mt-0">
                      <label class="form-check-label">
                        <input type="checkbox" [checked]="instance.showInPreview" (click)="showInPreview(instance.id)" class="form-check-input">
                        <i class="input-helper"></i>
                      </label>
                    </div>
                  </td>
                  <td>{{instance.publishStart | date: mediumDate}}</td>
                  <td>{{instance.publishEnd | date: mediumDate}}</td>
                  <td>{{instance.displayOrder}}</td>
                  <td>
                    <i class="fa fa-clipboard pointer-hover text-warning" data-toggle="tooltip" data-placement="bottom" title="" data-original-title="Copy widget code" (click)="copyWidgetCode(instance.id)"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <ul class="pagination rounded pagination-primary mt-4">
            <li class="page-item active"><a class="page-link" href="javascript:void(0);">1</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">2</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">3</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">4</a></li>
            <li class="page-item"><a class="page-link" href="javascript:void(0);">5</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</div>
