
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      {{title}}
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">{{translate('dashboard')}}</a>
        <li class="breadcrumb-item"><a routerLink="/module/cms/">{{translate('cms')}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/module/cms/webpages">{{translate('pages')}}</a></li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="!isEditMode">{{translate('create page')}}</li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="isEditMode">{{translate('edit page')}}</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" *ngIf="isEditMode"> {{translate('Edit page')}}</h4>
          <h4 class="card-title" *ngIf="!isEditMode">{{translate('create page')}}</h4>
          <p class="card-description text-danger" *ngFor="let error of validationErrors">{{ error}}</p>
          <form class="forms-sample" role="form" [formGroup]="pageFormGroup" novalidate (submit)="submit()">
            <fieldset>
              <div class="form-group" *ngFor="let control of pageFormGroup.formControls" [ngClass]="{'has-danger': (isSubmitting || control.dirty) && control.invalid}">
                <div class="form-check form-check-flat form-check-primary" *ngIf="control.type == 'checkbox'">
                  <label class="form-check-label">
                    <input formControlName="{{control.modelProperty}}" [(ngModel)]="model[control.modelProperty]" type="checkbox" class="form-check-input">
                    {{ translate(control.label)}}
                  </label>
                </div>
                <label *ngIf="control.type != 'checkbox'" for="{{control.modelProperty}}">{{ translate(control.label)}}</label>
                <input *ngIf="control.type != 'checkbox'" type="{{control.type}}" [ngClass]="{'form-control-danger': (isSubmitting || control.dirty) && control.invalid}" class="form-control" placeholder="{{ translate(control.label)}}" formControlName="{{control.modelProperty}}" [(ngModel)]="model[control.modelProperty]">
                <ul *ngIf="(isSubmitting || control.dirty) && control.invalid">
                  <li class="error mt-2 text-danger" *ngFor="let error of control.getValidationMessages()">{{error}}</li>
                </ul>
              </div>
              <div class="form-group">
                <textarea ngxTrumbowygEditor [ngModelOptions]="{standalone: true}" name="content" [(ngModel)]="model.content"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-sm mr-2">{{ translate('Submit')}}</button>
              <a class="btn btn-light btn-sm" routerLink="/module/cms/webpages">{{ translate('Cancel')}}</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
