<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      {{translate(title)}}
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">{{translate('dashboard')}}</a>
        <li class="breadcrumb-item"><a routerLink="/setting-groups/dashboard">{{translate('setting groups')}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{translate('settings')}}</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-6 grid-margin stretch-card" *ngFor="let group of settingGroups">
      <div class="card card-large-icons">
        <div class="card-icon bg-primary text-white"><i class="{{group.iconClass}}"></i></div>
        <div class="card-body">
          <h4>{{translate(group.name)}}</h4>
          <p>{{translate(group.description)}}.</p>
          <a [routerLink]="['/settings/', group.id]" class="card-cta">{{translate('Change Setting')}}<i class="fas fa-chevron-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
