.red{
    background-color: red;
}
.blue {
  background-color: red;
}
.yellow {
  background-color: red;
}
.green {
  background-color: red;
}
.pink {
  background-color: red;
}
.violet {
  background-color: red;
}
.grey {
  background-color: red;
}
.sea-blue {
  background-color: red;
}
.sky-blue {
  background-color: red;
}
.ox-blood {
  background-color: red;
}
.margenta {
  background-color: red;
}
.pale {
  background-color: red;
}
.black {
  background-color: #100f0f;
}
