<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      {{title}}
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">{{translate('dashboard')}}</a>
        <li class="breadcrumb-item"><a routerLink="/module/projectv/tax">{{translate('tax')}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{translate('tax classes')}}</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{translate('Tax Classes')}}</h4>
          <div class="card-actions">
            <a routerLink="create" class="btn btn-outline-primary btn-rounded text-right"><i class="fa fa-plus mr-2"></i>{{translate('Create Tax Class')}}</a>
            <button type="button" data-toggle="modal" data-target="#importForm" class="btn btn-outline-success btn-rounded text-right"><i class="fa fa-upload mr-2"></i>{{translate('Upload')}}</button>
            <button type="button" (click)="downloadTaxClasses()" class="btn btn-outline-primary btn-rounded text-right"><i class="fa fa-download mr-2"></i>{{translate('Download')}}</button>
          </div>
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th>{{ translate('Name')}}</th>
                  <th>{{ translate('Is Active')}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="taxClasses.length < 1"><td colspan="6">{{ translate('Nothing to display')}}</td></tr>
                <tr *ngFor="let taxClass of taxClasses">
                  <td>
                    {{taxClass.name}}
                    <div class="table-links">
                      <a [routerLink]="['edit', taxClass.id]">{{translate('edit')}}</a>
                      <div class="bullet"></div>
                      <a href="javascript:void(0);" (click)="deleteTaxClass(taxClass.id)" class="text-danger">{{translate('trash')}}</a>
                    </div>
                  </td>
                  <td>
                    <i [ngClass]="{'text-warning fa fa-times': !taxClass.isActive, 'text-primary fas fa-check': taxClass.isActive}"></i>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="importForm" tabindex="-1" role="dialog" aria-labelledby="modalLabel-3" aria-hidden="true">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalLabel-3">{{translate('Tax Class File')}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <file-upload [label]="translate('Tax Class File (csv)')" (change)="fileChanged($event)" [placeholder]="translate('Select File')"></file-upload>
            <div class="form-group">
              <loading5 *ngIf="isUploading"></loading5>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal">{{translate('Close')}}</button>
        <button type="button" class="btn btn-primary" (click)="importTaxClasses()">{{translate('Upload')}}</button>
      </div>
    </div>
  </div>
</div>
