
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      {{title}}
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">{{translate('dashboard')}}</a>
        <li class="breadcrumb-item"><a routerLink="/module/projectv/inventory">{{translate('inventory')}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/module/projectv/tax/tax-class">{{translate('tax')}}</a></li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="!isEditMode">{{translate('create tax class')}}</li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="isEditMode">{{translate('edit tax class')}}</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" *ngIf="isEditMode"> {{translate('Edit Tax Class')}}</h4>
          <h4 class="card-title" *ngIf="!isEditMode">{{translate('create Tax Class')}}</h4>
          <p class="card-description text-danger" *ngFor="let error of validationErrors">{{ error}}</p>
          <form class="forms-sample" role="form" [formGroup]="taxClassFormGroup" novalidate (submit)="submit()">
            <fieldset>
              <div class="form-group" *ngFor="let control of taxClassFormGroup.formControls" [ngClass]="{'has-danger': (isSubmitting || control.dirty) && control.invalid}">
                <div class="form-check form-check-flat form-check-primary" *ngIf="control.type == 'checkbox'">
                  <label class="form-check-label">
                    <input formControlName="{{control.modelProperty}}" [(ngModel)]="model[control.modelProperty]" type="checkbox" class="form-check-input">
                    {{ translate(control.label)}}
                    <i class="input-helper"></i>
                  </label>
                </div>
                <label *ngIf="control.type == 'text' || control.type == 'number'" for="{{control.modelProperty}}">{{ translate(control.label)}}</label>
                <input *ngIf="control.type == 'text' || control.type == 'number'" type="{{control.type}}" [ngClass]="{'form-control-danger': (isSubmitting || control.dirty) && control.invalid}" class="form-control" placeholder="{{ translate(control.label)}}" formControlName="{{control.modelProperty}}" [(ngModel)]="model[control.modelProperty]">
                <section *ngIf="control.type == 'text' || control.type == 'number'">
                  <ul *ngIf="(isSubmitting || control.dirty) && control.invalid">
                    <li class="error mt-2 text-danger" *ngFor="let error of control.getValidationMessages()">{{error}}</li>
                  </ul>
                </section>
              </div>
              <button type="submit" class="btn btn-primary btn-sm mr-2">{{ translate('Submit')}}</button>
              <a class="btn btn-light btn-sm" routerLink="/module/projectv/tax/tax-class">{{ translate('Cancel')}}</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
