
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      {{title}}
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">{{translate('dashboard')}}</a>
        <li class="breadcrumb-item"><a routerLink="/module/projectv/catalog">{{translate('ecommerce')}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/">{{translate('product attribute')}}</a></li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="!isEditMode">{{translate('create attribute')}}</li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="isEditMode">{{translate('edit attribute')}}</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" *ngIf="isEditMode"> {{translate('Edit Attribute')}}</h4>
          <h4 class="card-title" *ngIf="!isEditMode">{{translate('create Attribute')}}</h4>
          <p class="card-description text-danger" *ngFor="let error of validationErrors">{{ error}}</p>
          <form class="forms-sample" role="form" [formGroup]="attribFormGroup" novalidate (submit)="submit()">
            <fieldset>
              <div class="form-group" *ngVar="attribFormGroup.formControl('name') as control" [ngClass]="{'has-danger': (isSubmitting || control.dirty) && control.invalid}">
                <label for="{{control.modelProperty}}">{{ translate(control.label)}}</label>
                <input type="{{control.type}}" [ngClass]="{'form-control-danger': (isSubmitting || control.dirty) && control.invalid}" class="form-control" placeholder="{{ translate(control.label)}}" formControlName="{{control.modelProperty}}" [(ngModel)]="model[control.modelProperty]">
                <ul *ngIf="(isSubmitting || control.dirty) && control.invalid">
                  <li class="error mt-2 text-danger" *ngFor="let error of control.getValidationMessages()">{{error}}</li>
                </ul>
              </div>
              <div class="form-group" *ngVar="attribFormGroup.formControl('groupId') as control" [ngClass]="{'has-danger': (isSubmitting || control.dirty) && control.invalid}">
                <label>{{translate('Attibute Group')}}</label>
                <select class="form-control" [ngClass]="{'form-control-danger': (isSubmitting || control.dirty) && control.invalid}" formControlName="groupId" [(ngModel)]="model.groupId">
                  <option *ngFor="let group of attrGroups" [value]="group.id">{{group.name}}</option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary btn-sm mr-2">{{ translate('Submit')}}</button>
              <a class="btn btn-light btn-sm" routerLink="/module/projectv/catalog/prattributes">{{ translate('Cancel')}}</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
