
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      {{title}}
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">{{translate('dashboard')}}</a>
        <li class="breadcrumb-item"><a routerLink="/module/cms">{{translate('cms')}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/widgets">{{translate('Widgets')}}</a></li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="!isEditMode">{{translate('create flex widget')}}</li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="isEditMode">{{translate('edit flex widget')}}</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" *ngIf="isEditMode"> {{translate('Edit flex widget')}}</h4>
          <h4 class="card-title" *ngIf="!isEditMode">{{translate('flex widget')}}</h4>
          <p class="card-description text-danger" *ngFor="let error of validationErrors">{{ error}}</p>
          <form class="forms-sample" role="form" [formGroup]="flexFormGroup" novalidate (submit)="submit()">
            <fieldset>
              <div class="form-group" *ngVar="flexFormGroup.formControl('name') as control" [ngClass]="{'has-danger': (isSubmitting || control.dirty) && control.invalid}">
                <label for="">{{ translate(control.label)}}</label>
                <input type="text" [ngClass]="{'form-control-danger': (isSubmitting || control.dirty) && control.invalid}" class="form-control" placeholder="{{ translate(control.label)}}" formControlName="{{control.modelProperty}}" [(ngModel)]="model.name">
                <ul *ngIf="(isSubmitting || control.dirty) && control.invalid">
                  <li class="error mt-2 text-danger" *ngFor="let error of control.getValidationMessages()">{{error}}</li>
                </ul>
              </div>

              <div class="form-group">
                <label for="">{{ translate('Widget Zone')}}</label>
                <select class="form-control" name="widgetZoneId" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.widgetZoneId">
                  <option *ngFor="let zone of widgetZones" [value]="zone.id">{{zone.name}}</option>
                </select>
              </div>

              <div class="form-group" *ngVar="flexFormGroup.formControl('publishStart') as control">
                <label for="">{{ translate(control.label)}}</label>
                <input type="date" class="form-control" formControlName="publishStart" placeholder="Enter a date" [(ngModel)]="model.publishStart">
              </div>

              <div class="form-group" *ngVar="flexFormGroup.formControl('publishEnd') as control">
                <label for="">{{ translate(control.label)}}</label>
                <input type="date" class="form-control" formControlName="publishEnd" placeholder="Enter a date" [(ngModel)]="model.publishEnd">
              </div>

              <div class="form-group" *ngVar="flexFormGroup.formControl('displayOrder') as control" [ngClass]="{'has-danger': (isSubmitting || control.dirty) && control.invalid}">
                <label for="">{{ translate(control.label)}}</label>
                <input type="number" [ngClass]="{'form-control-danger': (isSubmitting || control.dirty) && control.invalid}" class="form-control" formControlName="{{control.modelProperty}}" [(ngModel)]="model.displayOrder">
                <ul *ngIf="(isSubmitting || control.dirty) && control.invalid">
                  <li class="error mt-2 text-danger" *ngFor="let error of control.getValidationMessages()">{{error}}</li>
                </ul>
              </div>
              <div class="form-group text-right">
                <button class="btn-sm btn-rounded btn-primary" type="button" data-toggle="modal" data-target="#flex-components">{{ translate('show flex templates')}}</button>
                <flex-templates (flexContent)="appendFlex($event)"></flex-templates>
              </div>
              <div class="form-group">
                <textarea style="min-height: 400px" class="form-control" placeholder="Enter flex content" [ngModelOptions]="{standalone: true}" name="htmlContent" [(ngModel)]="model.htmlContent"></textarea>
              </div>
              <button type="submit" class="btn btn-primary btn-sm mr-2">{{ translate('Submit')}}</button>
              <a class="btn btn-light btn-sm" routerLink="/widget-instances">{{ translate('Cancel')}}</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
