
<div class="content-wrapper">
  <div class="page-header">
    <h3 class="page-title">
      {{title}}
    </h3>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/dashboard">{{translate('dashboard')}}</a>
        <li class="breadcrumb-item"><a routerLink="/module/cms">{{translate('cms')}}</a></li>
        <li class="breadcrumb-item"><a routerLink="/module/cms/menus">{{translate('menus')}}</a></li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="!isEditMode">{{translate('create menu')}}</li>
        <li class="breadcrumb-item active" aria-current="page" *ngIf="isEditMode">{{translate('edit menu')}}</li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title" *ngIf="isEditMode"> {{translate('Edit Menu')}}</h4>
          <h4 class="card-title" *ngIf="!isEditMode">{{translate('Create Menu')}}</h4>
          <p class="card-description text-danger" *ngFor="let error of validationErrors">{{ error}}</p>
          <form class="forms-sample" role="form" [formGroup]="menuFormGroup" novalidate (submit)="submit()">
            <fieldset>
              <div class="form-group" *ngVar="menuFormGroup.formControl('name') as control" [ngClass]="{'has-danger': (isSubmitting || control.dirty) && control.invalid}">
                <label for="">{{ translate(control.label)}}</label>
                <input type="text" [ngClass]="{'form-control-danger': (isSubmitting || control.dirty) && control.invalid}" class="form-control" placeholder="{{ translate(control.label)}}" formControlName="{{control.modelProperty}}" [(ngModel)]="model.name">
                <ul *ngIf="(isSubmitting || control.dirty) && control.invalid">
                  <li class="error mt-2 text-danger" *ngFor="let error of control.getValidationMessages()">{{error}}</li>
                </ul>
              </div>

              <div class="form-group">
                <label for="">{{ translate('Menu Type')}}</label>
                <select class="form-control" name="menuTypeId" [ngModelOptions]="{standalone: true}" [(ngModel)]="model.menuTypeId">
                  <option *ngFor="let type of menuTypes" [value]="type.id">{{type.name}}</option>
                </select>
              </div>
              <div class="form-group">
                <div class="form-check form-check-flat form-check-primary" *ngVar="menuFormGroup.formControl('isPublished') as control">
                  <label for="isPublished" class="form-check-label">
                    <input id="isPublished" formControlName="isPublished" [(ngModel)]="model.isPublished" type="checkbox">
                    {{ translate(control.label)}}
                    <i class="input-helper"></i>
                  </label>
                </div>
              </div>
              <button type="submit" class="btn btn-primary btn-sm mr-2">{{ translate('Submit')}}</button>
              <a class="btn btn-light btn-sm" routerLink="/module/cms/menus">{{ translate('Cancel')}}</a>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
